<!DOCTYPE html>
<html data-ng-app>
<head>
<title>Create Character</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Create a Character</h1>
	<form ng-submit="addCharacter()">
		<!-- don't submit or refresh -->
		<div class="form-group">
			<label class="control-label col-sm-2">First Name: </label>
			<div class="col-sm-5">
				<input class="form-control col-sm-8" type="text"
					ng-model="newCharacter.firstName" />
				<div class="col-sm-5"></div>
			</div>
		</div>
		<br> <br>

		<div class="form-group">
			<label class="control-label col-sm-2">Last Name: </label>
			<div class="col-sm-5">
				<input class="form-control col-sm-8" type="text"
					ng-model="newCharacter.lastName" />
				<div class="col-sm-5"></div>
			</div>
		</div>
		<br> <br>
		<div class="form-group">
			<label class="control-label col-sm-2">Alias: </label>
			<div class="col-sm-5">
				<input class="form-control col-sm-8" type="text"
					ng-model="newCharacter.alias" />
				<div class="col-sm-5"></div>
			</div>
		</div>
		<br> <br>

		<div class="form-group">
			<label class="control-label col-sm-2">Weapon: </label>
			<div class="col-sm-5">
				<!-- <select ng-model="newCharacter.weapons">
					<option ng-repeat="x in weapon" value="{{x.weaponName}}">{{x.weaponName}}</option>
				</select> -->
				<fieldset>
					<select
						ng-options="x.weaponName for x in weapon"
						ng-model="newCharacter.weapons"></select>
				</fieldset>
				
				<h1>You selected: {{newCharacter.weapons}}</h1>
			</div>
			<br> <br>

			<div class="form-group">
				<label class="control-label col-sm-2">Height: </label>
				<div class="col-sm-5">
					<input class="form-control col-sm-8" type="number"
						ng-model="newCharacter.height" />
					<div class="col-sm-5"></div>
				</div>
			</div>
			<br> <br>

			<div class="form-group">
				<label class="control-label col-sm-2">Gender: </label>
				<div class="col-sm-5">
					<input class="form-control col-sm-8" type="text"
						ng-model="newCharacter.gender" />
					<div class="col-sm-5"></div>
				</div>
			</div>
			<br> <br>

			<div class="form-group">
				<label class="control-label col-sm-2">Status: </label>
				<div class="col-sm-5">
					<!-- <select ng-model="newCharacter.status">
						<option ng-repeat="x in status" value="{{x.status}}">{{x.status}}</option>
					</select> -->
					<fieldset>
					<select
						ng-options="x.status for x in status"
						ng-model="newCharacter.status"></select>
				</fieldset>

					<h1>You selected: {{newCharacter.status}}</h1>
				</div>
				<br> <br>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2">House: </label>
				<!-- <div class="col-sm-5"> -->
				<!-- <select ng-model="newCharacter.house">
				<option ng-repeat="x in houses" value="{{x.houseName}}">{{x.houseName}}</option>
			</select> -->

				<fieldset>
					<select
						ng-options="x.houseName for x in houses"
						ng-model="newCharacter.house"></select>
				</fieldset>
				<h1>You selected: {{newCharacter.house}}</h1>
				<br> <br>

			</div>
			<div class="form-group">
				<input class="btn btn-lg btn-success" type="submit" value="Create">
			</div>
	</form>
</body>
</html>
