
<head>
<title>Create House</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form class="form-horizontal" ng-submit="createHouse()">
		<h2>Create a house</h2>

		<div class="form-group">
			<label class="control-label col-sm-2"> House Name <span
				class="glyphicon glyphicon-tower"></span></label>
			<div class="col-sm-5">
				<input class="form-control col-sm-8" type="text"
					placeholder="House Stark" ng-model="house.houseName"/>
			</div>
			<div class="col-sm-5"></div>
		</div>
		<br>
		<br>


		<div class="form-group">
			<label class="control-label col-sm-2"> House Lord <span
				class="glyphicon glyphicon-king"></span></label>
			<div class="col-sm-5">
				<input class="form-control col-sm-8" type="text"
					placeholder="Lord Stark" ng-model="house.lordOfHouse" />
			</div>
			<div class="col-sm-5"></div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<label class="control-label col-sm-2"> House Members <span
				class="glyphicon glyphicon-pawn"></span></label>
			<div class="col-sm-5">
				<input class="form-control col-sm-8" type="text" placeholder="1" ng-model="house.numberOfMembers" />
				<div class="col-sm-5"></div>
			</div>
		</div>
		<br>
		<br>


		<div class="form-group">
			<label class="control-label col-sm-2"> Location <span
				class="glyphicon glyphicon-globe"></span></label>
			<div class="col-sm-5">
				<fieldset>
					<select
						ng-options="x.name for x in locations"
						ng-model="house.location"></select>
				</fieldset>
			</div>
		</div>

		<br>
		<br>

		<div class="form-group">
			<div class="col-sm-6"></div>
			<div class="col-sm-4">
				<input class="btn btn-lg btn-success" type="submit" value="Create" />
			</div>
		</div>
	</form>
</body>

